body {
    -webkit-font-smoothing: antialiased;
    color: rgba(var(--sk_primary_foreground, 29, 28, 29), 1);
    font-size: 15px;
    font-variant-ligatures: common-ligatures;
    font-weight: 400;
    line-height: 1.46668;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

div {
    display: block;
}

a{
    border-bottom: 0px solid;
}

*,
:after,
:before {
    box-sizing: inherit;
}





.message-sent{
    border-color: #350d36;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 25px;
}

.message-sent-username{
    font-weight: 300px;

}

.body-text{
    text-indent: 25px;
}
.sent-time{
    font-size: 10px;
    margin-left: 20px;
}

.modal{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
   

}

.modal-content{

    width: 500px;
    height: 400px;
    background-color: white;
    position: absolute;
    border-radius: 10px;
}

.create-channel {
    width: 5px;
    font-size: 20px;
    background-color: white;
    color: black;
    height: 20px;
}

.channel-header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.channel-links{
    color: grey;
    text-decoration: none;
    top: 50px;
    height: 20px;
    padding: 10px;
    font-size: 20px;
}

.close-channel-modal{
        width: 5px;
        font-size: 20px;
        background-color: white;
        color: white;
        padding: 20px;
        
        border-width: 10px;
        border-color: black;
        border-width: 20px;
        border: 1px solid gray;
        height: 30px;
        background-color: #007a5a;
    
}

.side-main{
    
    background-color: #3F0E40;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 200px;
    min-width: 300px;
}






.side-header{
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
    display: flex;
    font-size: 25px;
    color: white;
    height: 40px;
    width: 300px;
    font-weight: 900;

}

.side-channel-title{
    height: 30px;
    display: flex;
    color: grey;
    align-items: center;
    font-size: 20px;
}

.add-channel{
    margin-left: 130px;
    font-weight: 300px;
    font-size: 20px;
   
}



.side-channels{
    display: flex;
    flex-direction: column;
    /* width: 200px; */
    /* align-items: flex-start; */
    

}

.side-channel-list{
    display: flex;
    align-items: left;
    width: 100%;
    ;

}

.hashtag{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.inner-container{
    display: flex;
    align-items: flex-start;
    width: 200px;
}

.channel-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.bottom{
    background-color: #350d36;
    height: 900px;

}

.channel-chat-messages{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: calc(100% - 200px);
    background-color:qhite;
}

.channel-title{
    display: flex;
    margin: 0px 50px 0px 20px;
    align-items: center;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
}

.channel-title-display{
    color: black;
    font-size: 10px;
    align-items: center;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 5px;

}

.channel-title-display:hover {

    background-color: lightgray;
    border-radius: 5px;

}

.main-container{
    display: flex;
    width: 100%;
    height: 100%;
}

.chat-messages-box{
    display: flex;
    flex-direction: column-reverse;
    /* width: 100%; */
    align-items: flex-start;
    height: 480px;
    margin: 0px 50px 0px 20px;
    overflow-y: scroll;
}

.chat-messages-box-inner{
    display: flex;
    flex-direction: column;
    /* overflow-y: scroll; */
    width: 100%;
    height: 100%;
}


.chat-messages-box-intro{
    display: flex;
    font-size: 13px;
    align-items: flex-start;
    margin-top: 70px;
    padding: 10px 22px 10px 22px ;
}

.intro-message-container{
    display: flex;
    color: black;
    margin-bottom: 300px;
}

.channel-message-list-recipt{
    display: flex;
    flex-direction: column;
    padding: 10px 25px;
    width: 100%;
    
    
   

}

.messages-by-text{
    display: flex;
    flex-direction: column;
}

.add-channel{
    font-size: 20px;
    min-width: 10px;
    width: 5px;
    margin: 20px;
    padding: 0 16px 3px;
    height: 25px;
    background-color: black;

}

.message-box{
    display: flex;
    padding: 0 25px 25px 0px;
    width: 100%;
    height: 100%;
    max-height: 100%;
    
}

.inner-message-box{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    width: 100%;
    border-radius: 5px;
    height: 100%;

    border: 1px solid rgba(21, 20, 21, .295);
        border-radius: 8px;
        margin: 0 16px 0 20px;
        width: 100%;
}


.sender-form{
    background: transparent;
    border: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    max-width: 1000%;
    
    
}


.delete-message-button{
    width: 2px;
    font-size: 10px;
    height: 15px;
    position: none;
}

.add-more-people{
    color: grey;
    padding-left: 20px;
    font-size: 20px;
}

.all-users{
    overflow-y: scroll;
    height: 200px;
    color: black;
}

.delete-channel{
    height: 25px;
    width: 15px;
    margin: 0px;
    
    font-weight: 0px;
    margin-left: 15px;
    min-width: 20px;
    background-color: black;
}

.send-message{
    margin-left: 10px;
    width: 80px;
    background-color: #F8F8F8;
    color: gray;
    
}
.message-input{
    width: 100%;
    padding: 10px;
    -webkit-appearance: none;
    
}

.channel-title-header{
    padding-left: 20px;
}

.username-add-button {
    margin-left: 100px;
}

.channel-header-message{
    font-size: 30px;
}

.side-channel-list{
    display: flex;
    flex-direction: column;
}

.channel-links{
    padding: 0px;
    text-align: left;
    margin-left: 30px;
    
}

.add-more-channels{
    color: grey;
    margin: 30px;
    cursor: pointer;

}

.edit-channel-desc{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    margin-left: 15px;
    
}

.close-modal{
    cursor: pointer;
    color: gray;
}

.close-modal:hover{
    background-color: #F8F8F8;
    color: black;
    
}

.edit-name{
    font-size: 20px;
    font-weight: 900;
}


.edit-delete{
    display: none;
}

.message-sent:hover .edit-delete{
    display: block;
    position: absolute;
    right: 250px;
    width: 50px;
    font-size: large;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    background-color: white;

}

.message-sent:hover{
    background-color: lightgray;
}

.message-rec{
    display: flex;
    
}



.side-header{
    padding-left: 30px;
}


.fa-angle-down{
    font-size: 15px;

}

.detail-modal{
    height: 600px;
}

.channel-name{
    display: flex;
    flex-direction: column;
    margin: 30px;
    font-size: 15px;
    border: 1px solid grey;
    border-radius: 10px;
    /* width: 400px; */
    height: 80px;
    background-color: white;
    cursor: pointer;

}

.channel-name:hover{
    background-color: #F8F8F8;
}

.channel-name-header{
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 10px;
}

.channel-name-modal{
    /* margin-left: 10px; */
}

.edit-button-modal{
    color: rgba(var(--sk_highlight, 18, 100, 163), 1);
    font-weight: 700;
}

.navbar-for-channels{
    display: flex;
    border-bottom: 1px solid lightgray;
    background-color: white;
    padding: 20px;
}
.navbar-for-channels div{
    margin-right: 10px;
    font-weight: 700;
}

.navbar-for-channels div:hover {
    cursor: pointer;
    
}

.navbar-for-channels div:active {
    box-shadow: inset 0 -2px 0 0 #007a5a;

}





.top-box-detail-modal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 1px solid lightgray; */
    padding: 30px 40px;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-bottom: 0px;
}

.detail-modal{
    background-color: #F8F8F8;
}

.stuff-in-between{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-left: 10px;
    padding-right: 10px;
    
}

.delete-channel-button{
    display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 30px;
        margin: 30px;
        font-size: 15px;
        border: 1px solid grey;
        border-radius: 10px;
        height: 80px;
        background-color: white;
        color: #E11E5A;
        font-weight: 800;
        cursor: pointer;
}

.delete-channel-button:hover{
    background-color: #F8F8F8;
    color: black;
}


.create-channel-header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
    margin-left: 40px;
}

.create-channel-head{
    font-size: 28px;
    font-weight: 900;
    color: black;
}


.side-header{
    height: 80px;
}

.side-header div{
    padding-top: 20px;
}

.bottom {
    background-color: #3F0E40;
    ;
}


.side-header:hover{
    background-color: #3F0E40;
}

.channel-message-list-recipt:hover {
    width: 100%;
    border-radius: 10px;
}

.add-more-people{
    font-size: 15px;
    margin-left: 10px;
    cursor: pointer;
}

.channel-title{
    justify-content: space-between;
}

.people-stuff{
    display: flex;
    flex-direction: row;
}

.people-stuff div{
    margin-left: 10px;
    border-radius: 5px;
    padding: 2px;
}


.username-list{
    display: flex;
    
    margin: 20px;
    margin-left: 30px;
    font-weight: 800;
    font-size: 20px;
}

.username-list div{
    margin-left: 10px;
}


.list-of-names{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}
.username-list .fa-user{
    border: 1px #F8F8F8;
    padding: 10px;
    background-color:lightblue;
    border-radius: 2px;

}

.people-stuff .fa-user{
    width: 30px;
    padding: 4px;
    padding-left: 8px;
    cursor: pointer;
    background-color:aliceblue;
    border: 1px solid aliceblue;
}

.people-stuff .fa-user-plus{
    
        padding: 6px;
        width: 30px;
        cursor: pointer;
        background-color: aliceblue;
       

}

.workplace-button{
    cursor: pointer;
}

.add-people-form{
    margin-left: 50px;
}

 .add-people-form button{
    margin-left: 140px;
}

.add-channel-modal-form{
    margin-left: 50px;
    margin-top: 80px;
}

.add-channel-modal-form button{
    margin-left: 140px;
}

.bottom-message{
    display: flex;
    justify-content: space-between;
    padding: 5px, 10px, 5px;
}

.send-message-button{
    align-items: center;
        border-radius: 4px;
        display: flex;
        opacity: .3;
}